.Complete {
  width: 100%;
  max-width: 400px;
  padding: 40px 36px;
  text-align: center;
}
.Complete_Icon {
  margin: 0 0 12px 0;
}
.Complete_Title {
  font-size: 3rem;
  line-height: 1.5;
  margin: 0 0 8px 0;
  padding: 0;
}
.Complete_Text {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #888;
}
.Complete_Link {
  margin: 32px 0 0 0;
  font-size: 1.4rem;
  text-align: center;
}
